
     <!-- ============ Work ============= -->

    <section id="{{section.SectionName}}" ng-repeat="section in sections">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-side-right">
                   <h3 class="title-page ">{{section.SectionName}}</h3>
                   <hr>
                   <tabset>
                   	<tab ng-repeat="subsection in section.Categories" heading="{{subsection.SubsectionName}}">
                   		<a href="#">{{subsection.SubsectionName}}</a>
                   	</tab>
                   </tabset>                   
                </div>
                <div class="col-md-6">
				    <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
				      <uib-slide ng-repeat="slide in section.Slides track by slide.id" index="slide.id">
				        <img ng-src="{{slide.image}}" style="margin:auto;">
				        <div class="carousel-caption">
				          <h4>Slide {{slide.id}}</h4>
				          <p>{{slide.text}}</p>
				        </div>
				      </uib-slide>
				    </uib-carousel>
				  </div>
            </div>
        </div>
    </section>
